<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.engineroom.mileagetracker"
        version="0.7.0">

  <name>MileageTracker</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/mileagetracker.js" target="js/mileagetracker.js"/>

  <js-module src="www/mileagetracker.js" name="mileagetracker">
    <clobbers target="mileagetracker" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="MileageTracker">
        <param name="android-package" value="com.engineroom.mileagetracker.MileageTracker"/>
      </feature>
    </config-file>

    <source-file src="src/android/MileageTracker.java" target-dir="src/com/engineroom/mileagetracker/"/>
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="MileageTracker">
        <param name="ios-package" value="MileageTracker" />
      </feature>
    </config-file>

    <header-file src="src/ios/MileageTracker.h" target-dir="MileageTrackerPlugin"/>
    <source-file src="src/ios/MileageTracker.m" target-dir="MileageTrackerPlugin"/>
  </platform>

  <platform name="wp7">
    <source-file src="src/wp7/Hello.cs"/>
  </platform>

</plugin>