<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.engineroom.mileagetracker"
        version="0.7.0">

  <name>MileageTracker</name>

  <engines>
    <engine name="cordova" version=">=4.0.0"/>
  </engines>

  <asset src="www/mileagetracker.js" target="js/mileagetracker.js"/>

  <js-module src="www/mileagetracker.js" name="mileagetracker">
    <clobbers target="mileagetracker" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="MileageTracker">
        <param name="android-package" value="com.engineroom.mileagetracker.MileageTracker"/>
      </feature>
    </config-file>

    <source-file src="src/android/MileageTracker.java" target-dir="src/com/engineroom/mileagetracker/"/>
	<source-file src="src/android/LocationManager.java" target-dir="src/com/engineroom/mileagetracker/"/>
	<source-file src="src/android/TripDBManager.java" target-dir="src/com/engineroom/mileagetracker/"/>
	<source-file src="src/android/TripManager.java" target-dir="src/com/engineroom/mileagetracker/"/>
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="MileageTracker">
        <param name="ios-package" value="MileageTracker" />
      </feature>
    </config-file>
	
	<config-file target="*-Info.plist" parent="UIBackgroundModes">
    <array>
            <string>fetch</string>
			<string>location</string>
			<string>remote-notification</string>
    </array>
	</config-file>
	
	<edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
      <string></string>
    </edit-config>
	<edit-config target="NSLocationAlwaysAndWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
      <string></string>
    </edit-config>

    <header-file src="src/ios/MileageTracker.h" target-dir="MileageTrackerPlugin"/>
    <source-file src="src/ios/MileageTracker.m" target-dir="MileageTrackerPlugin"/>
	<header-file src="src/ios/LocationManager.h" target-dir="MileageTrackerPlugin"/>
    <source-file src="src/ios/LocationManager.m" target-dir="MileageTrackerPlugin"/>
	<header-file src="src/ios/TripManager.h" target-dir="MileageTrackerPlugin"/>
    <source-file src="src/ios/TripManager.m" target-dir="MileageTrackerPlugin"/>
	<header-file src="src/ios/TripDBManager.h" target-dir="MileageTrackerPlugin"/>
    <source-file src="src/ios/TripDBManager.m" target-dir="MileageTrackerPlugin"/>
  </platform>

  <platform name="wp7">
    <source-file src="src/wp7/Hello.cs"/>
  </platform>

</plugin>